.header {
    background-color: #2B4149;
    color:#FFCD3E;
    font-size: 34px;

}

.header-logo img{
    width: 50px;
}
.header-links{
}
.header-links a {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #FFCD3E;
    padding: 15px;
}


.main-section-left-image img{
    width: 100%;
}



.btn-share-download  {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2B4149 ;
    border-radius: 0;

}
.btn-share, .btn-download{
    color: #FFCD3E;
    font-size: 28px;

}
.description-links a{
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 25px;
}

.description-body p{
    font-size: 24px;
}
.tag-button {
    color: black;
    padding: 2px 30px;
    margin-right: 20px;
    border-radius: 30px;
    background-color:#2B4149 ;
    font-size: 24px;
}

.skip-padding{
    padding-right: 0;
    padding-left: 0;
}

.grade-button {
    position: absolute;
    top: 0;
    background-color: #AF2952 ;
    opacity: 0.7;
    border-radius: 0;
    color: #ffffff;
}
.top-right-button .btn{
    color: #ffffff;
    font-size: 24px;
    border-radius: 0;

}

.show-answer{
    font-size: 24px;
}
.sensitive-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2C424D;
    color: #ffffff;
    font-size: xx-large;
    border-radius: 0;
}
.question-button{
    background-color: #23353D;
}
.description-author{
    color: #FFCD3E;
}
.description-links a{
    text-decoration: underline!important;
}

.main-section-left-image-description{
    color:#ffffff;
    background-color: #476B7D;
}
.main-section-left-image-description-body{

}
.main-section-left-image-description-tag button{
    color: white;
    background-color: #2B4149;
    border: none;
}

.right-content .button{
    background-color: #2B4149 ;
    border-top: thin solid white;
    color: white;
}

.main-section-question-answer{
    background-color: #87213B;
}
.investigative-section{
    color: white;
}
.investigative-section-question{
    background-color: #5F182A;
    color: white;
    alignment: center;


}
.show-answer-button{
    background-color: #87213B;
    color: white;
    border: none;
    box-shadow: none!important;
    border-radius: 0;

}
.investigative-section-answer{
    background-color: #5F182A;
    color: white;
    font-size: 24px;

}
.investigative-triangle {

    border-left: 120px solid #87213B;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}


.investigative-rectangle {
    width: 100%;
    height: 100%;
    position: relative;
    background: #87213B;
}


.content-images img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    object-fit: cover;

}
.background-tab{
    font-size: 30px;
}
.tab-pane{
    padding: 4%;
}
.nav-item {
    display: inline;
    background-color: #DFDFDF ;
    color: #B3B3B3;
    padding: 20px 30px;
    position: relative;
}
.nav-link:hover{
    color: #B3B3B3;
}
.nav-link.active{
    background-color: #486F7F;
    color: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.4)!important;
}
.nav-item.active:after {
    width: 0;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-top: 35px solid #486F7F;
    content: " ";
    position: absolute;
    bottom: -35px;
    left: 35%;
    filter: drop-shadow(0 4px 3px rgba(0,0,0,0.4));

}
.read-more .btn{
    background-color: #2D4046 ;
    color: white;
    font-size: 24px;
    border-radius: 0;
}
.inquiry-title{
    font-size: 24px;
    padding: 10px;
    background-color: #851939 ;
    color: white;
}

.inquiry-image-sets{

}
.left-line{
    border-top: 30px solid #CD6226 ;
    /*border-bottom: 20px solid #486D7E !important;*/

}
.right-line {

    border-top: 30px solid #AF2853;
    /*border-bottom: 20px solid #486D7E !important;*/
}

.related-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 70%;
    object-fit: cover;
    border-bottom: 20px solid #575757 !important;
}
.related-image-text{

    background-color: #F2F2F2;
    color:#575757;
    font-size: 24px;

}
/**************footer*/
.footer {
    background-color: #2B4149;
    font-size: 24px;
}
.footer a{
    color:#FFCD3E;

}





