.body{
    font-family: museo-sans,'Open Sans',Helvetica,sans-serif;;
}
.navbar input[type=text] {

     padding: 6px;
     border: none;
     font-size: 24px;
     width :660px;
     height : 100px;
     background-color: lightgray;
 }
.navbar button {

    border: none;
    font-size:25px;
    width :60px;
    height : 100px;
    background-color: lightgray;
}
.topsearch{
    display:block;
}

.header{
    display: block;
    color: red;
}
.main-header{
    display: inline;
    font-family: Laksaman;
    font-size: larger;
}
.main-img{
    width: 50px;
    height: 50px;

}

.header {
    padding: 60px;
    text-align: center;
    background: deepskyblue;
    color: white;
}


.navbar img {
    width: 80px;
    height: 70px;
}



.navbar a:hover {
    color: black;
}


.side {

    background-color: lightgray;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;

}

.img {
    background-color: black;
    width: 100%;
    padding: 10px;
    color: white;
    font-family:Noto Sans Mono CJK JP Bold;
}

.img2 {
    background-color: black;
    height:140px;
    width: 140px;


}
#myInput2{
    width: 95%;


}
.img3 {
    background-color: black;
    height:60px;
    width: 60px;

}

.footer {
    background: black;

}
.footer img {
    width: 50px;
    height: 50px;
    background-color: black;
}

@media screen and (max-width: 900px) {
    .row, .navbar {
        flex-direction: column;
        background-color: lightgray;

    }

}
.media{
    background-color: black;
    color: white;
}
u{
    color: deepskyblue;

}


.tiles {
    background-color: lightgray;
    padding: 1px;
}
.row{
    height: auto;
    margin: 10px;
   padding: 0px;
}
.hr{
    color: white;
}
.side p{
    margin: 20px 0px 0px 0px;
}
p{
    margin: 20px;
}
footer{
    background-color: lightgray;
    color: red;
}
/*div{*/
    /*border: solid 1px #4CAF50;*/
    /**/
/*}*/
.btn {

    padding: 5px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: black;
    background-color:lightgray;
    border: none;
    border-radius: 0px;

}

.btn:hover {background-color: blue}

.btn:active {
    background-color: red;
    box-shadow: black 10px 5px;
}
/*.col-md-4{*/
    /*padding: unset;*/
/*}*/
/*.col-md-3{*/
    /*padding: unset;*/
/*}*/
/*.col-md-6{*/
    /*padding: unset;*/
 /*}*/


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
}
.imgfloat{
    float:right;
    display: inline;
    margin-right: 10px;
}
.imgfloat img{
    float:right;
    width:35px;
    height:35px;
}
