.navbar input[type=text] {

     padding: 6px;
     margin-right: 16px;
     border: none;
     font-size: 24px;
     width :660px;
     height : 100px;
     background-color: lightgray;
 }

.header{
    display: block;
    color: red;
}
.main-header{
    display: inline;
    font-family: Laksaman;
    font-size: larger;
}
.main-img{
    width: 50px;
    height: 50px;

}

.header {
    padding: 60px;
    text-align: center;
    background: deepskyblue;
    color: white;
}


.navbar img {
    width: 50px;
    height: 50px;
}

.navbar a:hover {
    background-color: lightblue;
    color: black;
}


.side {
    flex: 30%;
    background-color: lightgray;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;

}

.img {
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    font-family:Noto Sans Mono CJK JP Bold;
}

.img2 {
    background-color: black;
    height:140px;
    width: 140px;
    margin: 15px;

}
#myInput2{
    width: 650px;

}
.img3 {
    background-color: black;
    height:30px;
    width: 30px;
    margin: 5px;

}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 900px) {
    .row, .navbar {
        flex-direction: column;
        background-color: lightgray;

    }

}
.media{
    background-color: black;
    color: white;
}
u{
    color: deepskyblue;

}

.grid-container{

    color: black;
    background-color: lightgray;
    padding: 5px;
    grid-template-columns: auto auto;
    alignment: center;


}
.grid-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: initial;
    height: 200px;

    alignment: center;

    text-align: center;
    font-size: large;

}
.tiles {
    background-color: lightgray;
    padding: 1px;
}
.row{
    height: auto;
    margin: 10px;
}
hr{
    color: deepskyblue;
}
p{
    margin: 20px;
}

