
body{
    background-color: whitesmoke;
    background-image: url("images/backgound.jpg");
    background-repeat: repeat-x;
    background-position: right bottom;
    background-attachment: fixed;



}

p.dotted{
    border-style: dotted;
}
p.solid{
    border-style: solid;
}
h1.dashed{
    border-style: dashed;
    border-width:5px;
    border-color: aquamarine;
}
#double{
    border-style: double;
}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix{
    border-style: solid;
    border-color: red;
    border-width: 10px;
    border-radius: 45px;
}
div{
    border-style: solid;
    border-width: 1px;
    color: blue;
    background-color: red;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 400px;
    padding: 25px 50px 80px 100px;
    /*height: auto;*/
    /*width: auto;*/
    max-width: 500px;


}
#myDiv{
    padding: 40px 50px 75px 100px;
    color: red;
    background-color: yellow;
    border: 25px solid green;
    margin: 0px 50px 0px 900px;


}
p{
    border-style: solid;
    border-color: blue;
    display: inline;
    padding: 20px;
    outline: 3px dashed orange ;
}

p.excl{
    border-style:none;
    border-color: none;
    display: block;
    padding:none;
    outline: none ;
}

a:link{
    color:blue;
}
a:visited{
    color:pink;
}
a:hover{
    color:deeppink;
}
a:active{
    color:greenyellow;
}


table {
    border: 1px solid red;
    width: 50%;
    empty-cells: hide;
}

th {
    background-color: aqua;
    color: white;
}
tr:nth-child(even) {background-color: aquamarine;}
tr:hover {background-color: yellowgreen;}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}
div.fixed{
    all: initial;
    position: fixed;
    background-color: unset;
    border: unset;
    TOP: 0;
    right: 0;
    border-style:none;
    border-color: none;


}
#overflowTest{

    color: white;
    padding: 15px;
    width: 550%;
    height: 100px;
    overflow: scroll;
    }
div.id:hover{
    background-color: purple;

}

h4 {
    all: initial;
    display: none;
    background-color: yellow;
    padding: 20px;
}

div:hover h4 {
    display: block;
}
.fm{

    all: initial;
    color:black;
    font-variant: small-caps;
}
img{

    opacity:0.5;
    filter: alpha(opacity=50);
}
img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
img.im{
    opacity: 1;
    filter: alpha(opacity=100);
}
img.im:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

