myTag{
    padding: 50px;
    font-family: "Century Schoolbook L";
    font-size: 30px;
    color: indigo;
}
#div1{
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
#div2{
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
