body {
  background-color: powderskyblue;
}
h1 {
  color: skyblue;
}
p {
  color: red;
}
h1 {
  color: skyblue;
  font-family: verdana;
  font-size: 150%;
}
p {
  border: 1px solid powderred;
}
p {
  border: 1px solid powderskyblue;
  padding: 30px;
}
#para {
  color: pink;
}
img { 
  width: 50%; 
height: 60%;
}
table {
border: 1px solid red;
width: 50%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
padding: 15px;
}
ul{
list-style-type: none;
  margin: 10;
  padding: 10px;
  
  background-color: #333333;

}

li{
float: left;
padding:10px;
  color: white;
}
div{
background-color:black;
color:white;
padding:20px;
}

#h1{
color:green;
}
.head{
color:yellow;
}
iframe{
border:show;
margin:right;
}
span{
  color:skyblue;
}
header {
  background-color: #666;
  padding: 20px;
  text-align: left;
  font-size: 25px;
  color: white;
}

nav{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}
fieldset{
  border: aqua;
}
ol {
  counter-reset: section;
  list-style-type: none;
}

li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}


