body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 150%;
}
p {
  border: 1px solid powderred;
}
p {
  border: 1px solid powderblue;
  padding: 30px;
}
#para {
  color: pink;
}
img { 
  width: 50%; 
height: 60%;
}
table {
border: 1px solid red;
width: 50%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
padding: 15px;
}
ul{
list-style-type: none;
  margin: 10;
  padding: 10px;
  
  background-color: #333333;

}

li{
float: right;
padding:10px;
}
div{
background-color:black;
color:white;
padding:20px;
}

#h1{
color:green;
}
.head{
color:yellow;
}
iframe{
border:show;
margin:right;
}

